meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
title Node Web Console
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="Node Web Console")
meta(name="author", content="chriscindy (http://www.fecoding.cn)")
meta(name="robots", content="none")
//- style
link(rel="stylesheet", href="/static/index.css")
link(rel="icon", type="image/png", sizes="16x16" href="/static/favicon.png")
