//- javascript
script(src="vendor/jquery.terminal/js/jquery-1.7.1.min.js")
script(src="vendor/jquery.terminal/js/jquery.mousewheel-min.js")
//script( src="vendor/jquery.terminal/js/jquery.terminal-1.15.0.min.js")
script( src="vendor/jquery.terminal/js/jquery.terminal-src.js")
script(src="js/webconsole.js")
