doctype html
html
  head
    include head.pug
  body
    .configure
      p Node Web Console must be configured before use:
      ul
        li Open the project with your favorite text editor.
        li 
          | Open 
          span.variable config/index.js 
          | and enter your 
          span.variable $USER 
          | and 
          span.variable $PASSWORD 
          | credentials, edit any other settings that you like (see description in the comments).
      p 
        | For more information visit:
        a(href="https://github.com/ChrisCindy/node-web-console") https://github.com/ChrisCindy/node-web-console
         